.flex-list {
  display: flex;
}

.list {
  list-style: none;
}
input[type="checkbox"],
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px;
  min-width: 320px;
 
  // @media (min-width: $mobile-width) {
 
  //   width: $mobile-width;
    
  // }
  @media (min-width: $tablet-width) {
     
      width: $tablet-width;
    
    }
  @media (min-width: $laptop-width) {
  
    width: $laptop-width;
  
  }

  
 }
.section {
  padding: 60px 0;
  // @media (min-width: $tablet-width ) {
  //   padding: 94px 0;
  // }
  // @media (min-width: $laptop-width) {
  //   padding: 94px 0;
  // }
  
  
}
.section__title{
  text-align: center;
}

.display-none{
  display: none;
}