:root {
  --theme-color: #2196f3;
  --bcg-main: #ffffff;
  --text-logo: #000000;
  --text-primary: #212121;
  --text-secondary: #757575;
  --text-secondary-liter: #ffffff;
  --text-secondary-lite-fill: rgba(255, 255, 255, 0.6);
  --social-color-primary: #afb1b8;
  --font-primary: "Roboto";
  --font-primary-rezerv: "sans-serif";
  --font-logo: "Raleway";
  --functional-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}


