:root {
  --theme-color: #2196f3;
  --bcg-main: #ffffff;
  --text-logo: #000000;
  --text-primary: #212121;
  --text-secondary: #757575;
  --text-secondary-liter: #ffffff;
  --text-secondary-lite-fill: rgba(255, 255, 255, 0.6);
  --social-color-primary: #afb1b8;
  --font-primary: "Roboto";
  --font-primary-rezerv: "sans-serif";
  --font-logo: "Raleway";
  --functional-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
  --mobile-width: 480px;
  --tablet-width: 768px;
  --laptop-width: 1200px;


}
// breakpoint
$mobile-width: 480px;
$mobile-width: 479px;
$tablet-width: 768px;
$tablet-width-1: 767px;
$laptop-width: 1200px;
$laptop-width-1: 1199px;