<!-- Наша команда -->
<section class="section comand--section">
  <div class="container comand">
    <h2 class="section__title">Наша команда</h2>
    <ul class="list comand__list">
      <li class="comand__item">
        <picture>
          <source
            srcset="images/comand/l/human_1.webp 1x, images/comand/l/human_1@2.webp 2x"
            alt="Фото Игорь Демьяненко"
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="images/comand/l/human_1.jpg 1x, images/comand/l/human_1@2.jpg 2x"
            alt="Фото Игорь Демьяненко"
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="images/comand/m/human_1.webp 1x, images/comand/m/human_1@2.webp 2x"
            alt="Фото Игорь Демьяненко"
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="images/comand/m/human_1.jpg 1x, images/comand/m/human_1@2.jpg 2x"
            alt="Фото Игорь Демьяненко"
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="images/comand/s/human_1.webp 1x, images/comand/s/human_1@2.webp 2x"
            alt="Фото Игорь Демьяненко"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="images/comand/s/human_1.jpg 1x, images/comand/s/human_1@2.jpg 2x"
            alt="Фото Игорь Демьяненко"
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img src="images/comand/s/human_1.jpg" alt="Фото Игорь Демьяненко" />
        </picture>

        <div class="comand__box">
          <h3 class="comand__name">Игорь Демьяненко</h3>
          <p class="comand__description">Product Designer</p>
          <ul class="soclink">
            <li class="soclink__item">
              <a class="soclink__box" href="#">
                <svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-instagram"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="comand__item">
        <picture>
          <source
            srcset="images/comand/l/human_2.webp 1x, images/comand/l/human_2@2.webp 2x"
            alt="Фото Ольга Репина"
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="images/comand/l/human_2.jpg 1x, images/comand/l/human_2@2.jpg 2x"
            alt="Фото Ольга Репина"
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="images/comand/m/human_2.webp 1x, images/comand/m/human_2@2.webp 2x"
            alt="Фото Ольга Репина"
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="images/comand/m/human_2.jpg 1x, images/comand/m/human_2@2.jpg 2x"
            alt="Фото Ольга Репина"
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="images/comand/s/human_2.webp 1x, images/comand/s/human_2@2.webp 2x"
            alt="Фото Ольга Репина"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="images/comand/s/human_2.jpg 1x, images/comand/s/human_2@2.jpg 2x"
            alt="Фото Ольга Репина"
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img src="images/comand/s/human_2.jpg" alt="Фото Ольга Репина" />
        </picture>

        <div class="comand__box">
          <h3 class="comand__name">Ольга Репина</h3>
          <p class="comand__description">Frontend Developer</p>
          <ul class="soclink">
            <li class="soclink__item">
              <a class="soclink__box" href="#">
                <svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-instagram"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="comand__item">
        <picture>
          <source
            srcset="images/comand/l/human_3.webp 1x, images/comand/l/human_3@2.webp 2x"
            alt="Фото Николай Тарасов"
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="images/comand/l/human_3.jpg 1x, images/comand/l/human_3@2.jpg 2x"
            alt="Фото Николай Тарасов"
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="images/comand/m/human_3.webp 1x, images/comand/m/human_3@2.webp 2x"
            alt="Фото Николай Тарасов"
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="images/comand/m/human_3.jpg 1x, images/comand/m/human_3@2.jpg 2x"
            alt="Фото Николай Тарасов"
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="images/comand/s/human_3.webp 1x, images/comand/s/human_3@2.webp 2x"
            alt="Фото Николай Тарасов"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="images/comand/s/human_3.jpg 1x, images/comand/s/human_3@2.jpg 2x"
            alt="Фото Николай Тарасов"
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img src="images/comand/s/human_3.jpg" alt="Фото Николай Тарасов" />
        </picture>

        <div class="comand__box">
          <h3 class="comand__name">Николай Тарасов</h3>
          <p class="comand__description">Marketing</p>
          <ul class="soclink">
            <li class="soclink__item">
              <a class="soclink__box" href="#">
                <svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-instagram"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="comand__item">
        <picture>
          <source
            srcset="images/comand/l/human_4.webp 1x, images/comand/l/human_4@2.webp 2x"
            alt="Фото Михаил Ермаков"
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="images/comand/l/human_4.jpg 1x, images/comand/l/human_4@2.jpg 2x"
            alt="Фото Михаил Ермаков"
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="images/comand/m/human_4.webp 1x, images/comand/m/human_4@2.webp 2x"
            alt="Фото Михаил Ермаков"
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="images/comand/m/human_4.jpg 1x, images/comand/m/human_4@2.jpg 2x"
            alt="Фото Михаил Ермаков"
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="images/comand/s/human_4.webp 1x, images/comand/s/human_4@2.webp 2x"
            alt="Фото Михаил Ермаков"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="images/comand/s/human_4.jpg 1x, images/comand/s/human_4@2.jpg 2x"
            alt="Фото Михаил Ермаков"
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img src="images/comand/s/human_4.jpg" alt="Фото Михаил Ермаков" />
        </picture>
        <div class="comand__box">
          <h3 class="comand__name">Михаил Ермаков</h3>
          <p class="comand__description">UI Designer</p>
          <ul class="soclink">
            <li class="soclink__item">
              <a class="soclink__box" href="#">
                <svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-instagram"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
