<!-- Наша команда -->
<section class="section comand--section">
  <div class="container">
    <h2 class="section__title">Наша команда</h2>
    <ul class="list comand">
      <li class="comand__item">
        <img src="./images/oc_img1.jpg" alt="Фото Игорь Демьяненко" />
        <div class="comand__box">
          <h3 class="comand__name">Игорь Демьяненко</h3>
          <p class="comand__description">Product Designer</p>
          <ul class="soclink">
            <li class="soclink__item">
              <a class="soclink__box" href="#">
                <svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-instagram"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="comand__item">
        <img src="./images/oc_img2.jpg" alt="Фото Ольга Репина" />
        <div class="comand__box">
          <h3 class="comand__name">Ольга Репина</h3>
          <p class="comand__description">Frontend Developer</p>
          <ul class="soclink">
            <li class="soclink__item">
              <a class="soclink__box" href="#">
                <svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-instagram"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="comand__item">
        <img src="./images/oc_img3-2.jpg" alt="Фото Николай Тарасов" />
        <div class="comand__box">
          <h3 class="comand__name">Николай Тарасов</h3>
          <p class="comand__description">Marketing</p>
          <ul class="soclink">
            <li class="soclink__item">
              <a class="soclink__box" href="#">
                <svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-instagram"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="comand__item">
        <img src="./images/oc_img4.jpg" alt="Фото Михаил Ермаков" />
        <div class="comand__box">
          <h3 class="comand__name">Михаил Ермаков</h3>
          <p class="comand__description">UI Designer</p>
          <ul class="soclink">
            <li class="soclink__item">
              <a class="soclink__box" href="#">
                <svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-instagram"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>

            <li class="soclink__item">
              <a class="soclink__box" href="#"
                ><svg class="soclink__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
