<div class="mobile-menu" data-menu>
  <ul class="mobile-menu__list">
    <li class="mobile-menu__items">
      <a class="mobile-menu__link mobile-menu__link-current" href="./index.html">Студия</a>
    </li>

    <li class="mobile-menu__items">
      <a class="mobile-menu__link" href="./portfolio.html">Портфолио</a>
    </li>
    <li class="mobile-menu__items"><a class="mobile-menu__link" href="">Контакты</a></li>
  </ul>

  <div class="mobile-menu__contact">
    <a href="tel:+380961111111" target="_blanck" class="mobile-menu__tel">+38 096 111 11 11</a>
    <a href="mail:info@devstudio.com" target="_blanck" class="mobile-menu__mail"
      >info@devstudio.com</a
    >
  </div>
  <ul class="mobile-menu__soclist">
    <li class="mobile-menu__socitem"><a href="" class="mobile-menu__soclink">Instagram</a></li>
    <li class="mobile-menu__socitem"><a href="" class="mobile-menu__soclink">Twitter</a></li>
    <li class="mobile-menu__socitem"><a href="" class="mobile-menu__soclink">Facebook</a></li>
    <li class="mobile-menu__socitem"><a href="" class="mobile-menu__soclink">LinkedIn</a></li>
  </ul>
</div>
