<!-- Чем мы занимаемся -->
<section class="section work-section">
  <div class="container">
    <h2 class="section__title">Чем мы занимаемся</h2>
    <ul class="work">
      <li class="work__item">
        <img src="./images/sec3_img1.jpg" alt="ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ" />
        <p class="work__titel">ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ</p>
      </li>
      <li class="work__item">
        <img src="./images/sec3_img2.jpg" alt="Мобильные приложения" />
        <p class="work__titel">МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ</p>
      </li>
      <li class="work__item">
        <img src="./images/sec3_img3.jpg" alt="ДИЗАЙНЕРСКИЕ РЕШЕНИЯ" />
        <p class="work__titel">ДИЗАЙНЕРСКИЕ РЕШЕНИЯ</p>
      </li>
    </ul>
  </div>
</section>
