<!-- Чем мы занимаемся -->
<section class="section work-section">
  <div class="container">
    <h2 class="section__title">Чем мы занимаемся</h2>
    <ul class="work">
      <li class="work__item">
        <picture>
          <source
            srcset="images/work/l/work_1.webp 1x, images/work/l/work_1@2.webp 2x"
            alt="ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ"
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="images/work/l/work_1.jpg 1x, images/work/l/work_1@2.jpg 2x"
            alt="ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ"
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="images/work/m/work_1.webp 1x, images/work/m/work_1@2.webp 2x"
            alt="ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ"
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="images/work/m/work_1.jpg 1x, images/work/m/work_1@2.jpg 2x"
            alt="ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ"
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="images/work/s/work_1.webp 1x, images/work/s/work_1@2.webp 2x"
            alt="ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="images/work/s/work_1.jpg 1x, images/work/s/work_1@2.jpg 2x"
            alt="ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ"
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img src="images/work/s/work_1.jpg" alt="ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ" />
        </picture>
        <p class="work__titel">ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ</p>
      </li>
      <li class="work__item">
        <picture>
          <source
            srcset="images/work/l/work_2.webp 1x, images/work/l/work_2@2.webp 2x"
            alt="МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ"
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="images/work/l/work_2.jpg 1x, images/work/l/work_2@2.jpg 2x"
            alt="МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ"
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="images/work/m/work_2.webp 1x, images/work/m/work_2@2.webp 2x"
            alt="МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ"
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="images/work/m/work_2.jpg 1x, images/work/m/work_2@2.jpg 2x"
            alt="МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ"
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="images/work/s/work_2.webp 1x, images/work/s/work_2@2.webp 2x"
            alt="МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="images/work/s/work_2.jpg 1x, images/work/s/work_2@2.jpg 2x"
            alt="МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ"
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img src="images/work/s/work_2.jpg" alt="МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ" />
        </picture>
        <p class="work__titel">МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ</p>
      </li>
      <li class="work__item">
        <picture>
          <source
            srcset="images/work/l/work_3.webp 1x, images/work/l/work_3@2.webp 2x"
            alt="ДИЗАЙНЕРСКИЕ РЕШЕНИЯ"
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="images/work/l/work_3.jpg 1x, images/work/l/work_3@2.jpg 2x"
            alt="ДИЗАЙНЕРСКИЕ РЕШЕНИЯ"
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="images/work/m/work_3.webp 1x, images/work/m/work_3@2.webp 2x"
            alt="ДИЗАЙНЕРСКИЕ РЕШЕНИЯ"
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="images/work/m/work_3.jpg 1x, images/work/m/work_3@2.jpg 2x"
            alt="ДИЗАЙНЕРСКИЕ РЕШЕНИЯ"
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="images/work/s/work_3.webp 1x, images/work/s/work_3@2.webp 2x"
            alt="ДИЗАЙНЕРСКИЕ РЕШЕНИЯ"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="images/work/s/work_3.jpg 1x, images/work/s/work_3@2.jpg 2x"
            alt="ДИЗАЙНЕРСКИЕ РЕШЕНИЯ"
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img src="images/work/s/work_3.jpg" alt="ДИЗАЙНЕРСКИЕ РЕШЕНИЯ" />
        </picture>
        <p class="work__titel">ДИЗАЙНЕРСКИЕ РЕШЕНИЯ</p>
      </li>
    </ul>
  </div>
</section>
