    <!-- Подвал -->
       <footer class="footer-section ">
      <div class="container footer ">    
          
              
            <div class="footer__item">
                <a href="#" class="logo"><span class="first">Web</span><span class="second">Studio</span></a>
              <ul class="footer-contact">
                  <li class="footer-contact__item"><address class=""><a href="mailto:info@devstudio.com" class="footer-contact__address">г. Киев, пр-т Леси Украинки, 26</a></address></li>
                  <li class="footer-contact__item"><a href="mailto:info@devstudio.com" class="footer-contact__contact">info@devstudio.com</a></li>
                  <li class="footer-contact__item"><a href="tel:+380961111111"         class="footer-contact__contact">
                      +38 096 111 11 11</a></li>
                       </ul> 
                  </div> 
           <div class="footer__item">
              <h3 class="footer-contact__titel ">ПРИСОЕДИНЯЙТЕСЬ</h3>
                
                  
                <ul class="footer-soclink">
                  <li class="footer-soclink__item">
                  <a class="footer-soclink__box" href="#">                  
                        <svg class="footer-soclink__icon">
                        <use href="./images/icons.svg#icon-instagram"> </use>
                        </svg>              
                   </a>
                  </li>
                    <li class="footer-soclink__item">
                  <a class="footer-soclink__box" href="#">
                  
                  <svg class="footer-soclink__icon">
                  <use href="./images/icons.svg#icon-twitter"> </use>
                  </svg>              
                  
                  </a>
                  </li>
                   <li class="footer-soclink__item">
                  <a class="footer-soclink__box" href="#">
                  
                  <svg class="footer-soclink__icon">
                  <use href="./images/icons.svg#icon-facebook"> </use>
                  </svg>              
                  
                  </a>
                  </li>
                   <li class="footer-soclink__item">
                  <a class="footer-soclink__box" href="#">                  
                  <svg class="footer-soclink__icon">
                  <use href="./images/icons.svg#icon-linkedin"> </use>
                  </svg>              
                  </a>
                  </li> 
                </ul>
            </div>
           <div class="footer__item">

              <h3 class="footer-contact__titel">ПОДПИШИТЕСЬ НА РАССЫЛКУ</h3>
                  <div class="online">
                   <form class="online-form" >
                       <input type="mail" class="online-form__input" placeholder="E-mail" name="online-mail" type="mail">
                       <button class="online-form__button"> <span class="online-form__buttom-name">Подписаться</span> 
                          <svg class="online-form__icon">
                        <use href="./images/icons.svg#icon-modal-fly"> </use>
                        </svg> 
                     </button>
                  </form>
                 
                 </div>
            </div>
          </div>
    </footer>