.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__nav {
  @include centerFlex($jc:flex-start);
  // display: flex;
  // align-items: center;
  letter-spacing: 0.02em;
  line-height: 1.14;
  font-size: 14px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 500; 
  color: var(--text-primary);
}

.header__item + .header__item {
  margin-left: 50px;
}
.link {
  padding: 30px 0;
  display: block;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: var(--text-primary);
  position: relative;
  @extend %trans;
  transition-property: color;
  .header__nav &:hover,
  .header__nav &:focus {
    color: var(--theme-color);
  }
}

.header__item--current {
  color: var(--theme-color);
  &::after {
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--theme-color);
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
  }
}

.contact {
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  line-height: 1.14;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-secondary);
  @extend %trans;
  transition-property: color;

  .header & + & {
    margin-left: 50px;
  }
  &:hover,
  &:focus {
    color: var(--theme-color);
    fill: var(--theme-color);
  }
}

.heder-contact-list {
  margin-left: auto;
  display: flex;
}

.heder-contact-item {
  &:hover {
    fill: var(--theme-color);
  }
  &:not(:first-child) {
    margin-left: 50px;
    flex-wrap: wrap;
  }
}

.heder-contact-icon-mail {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  fill: var(--text-secondary);
  @extend %trans;
  transition-property: fill;
  .contact:hover &,
  .contact:focus & {
    fill: var(--theme-color);
  }
}
.heder-contact-icon-tel {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: var(--text-secondary);
  transition-property: fill;
  @extend %trans;
  .contact:hover &,
  .contact:focus & {
    fill: var(--theme-color);
  }
}
